body{
  margin: 0;
  padding: 0;
}


/* Navigation Bar: */

.navbar{
 background-color: #edf492;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.navbar-light .navbar-brand{
  color: #ef8172;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
}



.title-pic{
  width: 100%;
  height: auto;
}



/* Welcome Section: */

.header{
  font-size: 8vw;
  bottom: 70%;
  text-align: center;
  width: 100%;
  color: #ef8172;
  font-family: 'Dancing Script', cursive;
  position: absolute;


}


.order-button{

  background-color: #edf492;
  color: black;
  font-family: Montserrat, serif;
  font-size: 1.5vw;
  position: absolute;
  bottom: 60%;
  left: 45%;

  border-style: none;
}

.order-button:hover{
  background-color: #ef8172;
  color: black;
}




/* <!-- About Us Section --> */

.about-title{
  font-size: 75px;
  color: black;
  font-family: Montserrat, serif;
  font-weight: lighter;
  position: relative;
  text-align: center;
  margin-top: 50px;

}
.about-info{
  position: relative;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 17px;
  color: gray;
}

.rowfeatures{
    padding: 4%;
    text-align: center;
}
.fa-check-circle{
  font-size: 3em;
  color: #a8df65;
  padding-bottom: 10px;
}
.fa-check-circle:hover{
  color: #ef8172;
}


/* Menu Section */

.menu-title{
  padding-top: 50px;
  font-size: 75px;
  color: black;
  font-family: Montserrat, serif;
  font-weight: lighter;
  position: relative;
  text-align: center;
}

.cards{
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.beefpho-img{
  width: 100%;
  padding: 0;
  margin: 0;
}
.pork-img{
  position: relative;

  width: 100%;
}
.vnoodles-img{
  width: 75%;
  position: relative;
  left: 15%;
}
.card-header{
  text-align: center;
}

.menu-info{
  color: gray;
}

.beefpho-btn{
  text-align: center;
  margin-left: 25%;

}

.beefpho-btn:hover{
  text-decoration: none;
  background-color: #ef8172;
  color: black;
}
.beefpho-btn: active{
  text-decoration: none;
}
.pork-btn{
  text-align: center;
  position: relative;
  right: 20px;
}


#menu{
  background-color: #edf492;
}
@media (max-width: 1300px) {

  .order-button{
    font-size: 2vw;
    position: absolute;
    bottom: 70%;
    left: 42%;
  }
 .about-info{
    font-size: 1.75rem;
  }

.h3features{
  font-size: 2.3rem;
}
.paragraphfeatures{
  font-size: 1.75rem;
}
.menu-info{
  font-size: 1.75rem;
}

  .beefpho-btn{
    margin-left: 35%;
  }

  .header{
    font-size: 10vw;
    position: absolute;
    bottom: 85%;

  }
  .visit-us{
    margin-left: auto;
  }
  .google-map{
    margin-left: 15%;
  }
  .table{
    margin-left: 55%;
  }
  .phone{
    padding-left: 20%;
  }
}

/* Testimonials Section */
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 5% 25%;
}

#press{
  background-color: #ef8172;
}
.yelp{

  margin-left: 45%;
  margin-bottom: 5%;
  border-radius: 10%;
  width: 10%;
}
/* Visit Us Section */

.visit-us{
  background-color: #edf492;
  padding: 5% 5%;
}
.hours{
  margin-left: 10%;
  font-size: 20px;
}
.phone{

  font-size: 55px;
  color: black;
  font-family: Montserrat, serif;
  font-weight: lighter;
  position: relative;
  margin-left: 10%;
  text-align: center;
}
